In [267]:
import pandas as pd
import plotly.express as px
import numpy as np

In [268]:
df_results = pd.read_csv('files/input/results.csv')
df_shootouts = pd.read_csv('files/input/shootouts.csv')

Data Prep

In [269]:
continents = {
    "Afghanistan": "Asia",
    "Egypt": "Africa",
    "Albania": "Europe",
    "Algeria": "Africa",
    "American Samoa": "Oceania",
    "Andorra": "Europe",
    "Angola": "Africa",
    "Anguilla": "North America",
    "Antigua and Barbuda": "North America",
    "Equatorial Guinea": "Africa",
    "Argentina": "South America",
    "Armenia": "Asia",
    "Aruba": "North America",
    "Azerbaijan": "Asia",
    "Ethiopia": "Africa",
    "Australia": "Oceania",
    "Bahamas": "North America",
    "Bahrain": "Asia",
    "Bangladesh": "Asia",
    "Barbados": "North America",
    "Belarus": "Europe",
    "Belgium": "Europe",
    "Belize": "North America",
    "Benin": "Africa",
    "Bermuda": "North America",
    "Bhutan": "Asia",
    "Bolivia": "South America",
    "Bosnia and Herzegovina": "Europe",
    "Botswana": "Africa",
    "Brazil": "South America",
    "Brunei Darussalam": "Asia",
    "Bulgaria": "Europe",
    "Burkina Faso": "Africa",
    "Burundi": "Africa",
    "Cayman Islands": "North America",
    "Chile": "South America",
    "China": "Asia",
    "Cook Islands": "Oceania",
    "Costa Rica": "North America",
    "Cura√ßao": "North America",
    "Denmark": "Europe",
    "Germany": "Europe",
    "Dominica": "North America",
    "Dominican Republic": "North America",
    "Djibouti": "Africa",
    "Ecuador": "South America",
    "El Salvador": "North America",
    "Ivory Coast": "Africa",
    "England": "Europe",
    "Eritrea": "Africa",
    "Estonia": "Europe",
    "Eswatini": "Africa",
    "Faroe Islands": "Europe",
    "Fiji": "Oceania",
    "Finland": "Europe",
    "France": "Europe",
    "Gabon": "Africa",
    "Gambia": "Africa",
    "Georgia": "Asia",
    "Ghana": "Africa",
    "Gibraltar": "Europe",
    "Grenada": "North America",
    "Greece": "Europe",
    "Guam": "Oceania",
    "Guatemala": "North America",
    "Guyana": "South America",
    "Guinea": "Africa",
    "Guinea-Bissau": "Africa",
    "Haiti": "North America",
    "Honduras": "North America",
    "Hong Kong": "Asia",
    "India": "Asia",
    "Indonesia": "Asia",
    "Iraq": "Asia",
    "Iran": "Asia",
    "Ireland": "Europe",
    "Iceland": "Europe",
    "Israel": "Asia",
    "Italy": "Europe",
    "Jamaica": "North America",
    "Japan": "Asia",
    "Yemen": "Asia",
    "Jordan": "Asia",
    "U.S. Virgin Islands": "North America",
    "British Virgin Islands": "North America",
    "Cambodia": "Asia",
    "Cameroon": "Africa",
    "Canada": "North America",
    "Cape Verde": "Africa",
    "Kazakhstan": "Asia",
    "Qatar": "Asia",
    "Kenya": "Africa",
    "Kyrgyzstan": "Asia",
    "Colombia": "South America",
    "Comoros": "Africa",
    "Kosovo": "Europe",
    "Democratic Republic of the Congo": "Africa",
    "Republic of the Congo": "Africa",
    "North Korea": "Asia",
    "South Korea": "Asia",
    "Croatia": "Europe",
    "Cuba": "North America",
    "Kuwait": "Asia",
    "Laos": "Asia",
    "Lesotho": "Africa",
    "Latvia": "Europe",
    "Lebanon": "Asia",
    "Liberia": "Africa",
    "Libya": "Africa",
    "Liechtenstein": "Europe",
    "Lithuania": "Europe",
    "Luxembourg": "Europe",
    "Macau": "Asia",
    "Madagascar": "Africa",
    "Malawi": "Africa",
    "Malaysia": "Asia",
    "Maldives": "Asia",
    "Mali": "Africa",
    "Malta": "Europe",
    "Morocco": "Africa",
    "Mauritania": "Africa",
    "Mauritius": "Africa",
    "Mexico": "North America",
    "Moldova": "Europe",
    "Mongolia": "Asia",
    "Montenegro": "Europe",
    "Montserrat": "North America",
    "Mozambique": "Africa",
    "Myanmar": "Asia",
    "Namibia": "Africa",
    "Nepal": "Asia",
    "New Caledonia": "Oceania",
    "New Zealand": "Oceania",
    "Nicaragua": "North America",
    "Netherlands": "Europe",
    "Niger": "Africa",
    "Nigeria": "Africa",
    "Northern Ireland": "Europe",
    "North Macedonia": "Europe",
    "Norway": "Europe",
    "Oman": "Asia",
    "Austria": "Europe",
    "East Timor": "Asia",
    "Pakistan": "Asia",
    "Palestine": "Asia",
    "Panama": "North America",
    "Papua New Guinea": "Oceania",
    "Paraguay": "South America",
    "Peru": "South America",
    "Philippines": "Asia",
    "Poland": "Europe",
    "Portugal": "Europe",
    "Puerto Rico": "North America",
    "Rwanda": "Africa",
    "Romania": "Europe",
    "Russia": "Europe",
    "Saint Kitts and Nevis": "North America",
    "Saint Lucia": "North America",
    "Saint Vincent and the Grenadines": "North America",
    "Solomon Islands": "Oceania",
    "Zambia": "Africa",
    "Samoa": "Oceania",
    "San Marino": "Europe",
    "Sao Tome and Principe": "Africa",
    "Saudi Arabia": "Asia",
    "Scotland": "Europe",
    "Sweden": "Europe",
    "Switzerland": "Europe",
    "Senegal": "Africa",
    "Serbia": "Europe",
    "Seychelles": "Africa",
    "Sierra Leone": "Africa",
    "Zimbabwe": "Africa",
    "Singapore": "Asia",
    "Slovakia": "Europe",
    "Slovenia": "Europe",
    "Somalia": "Africa",
    "Spain": "Europe",
    "Sri Lanka": "Asia",
    "South Africa": "Africa",
    "Sudan": "Africa",
    "South Sudan": "Africa",
    "Suriname": "South America",
    "Syria": "Asia",
    "Tajikistan": "Asia",
    "Tahiti": "Oceania",
    "Taiwan": "Asia",
    "Tanzania": "Africa",
    "Thailand": "Asia",
    "Togo": "Africa",
    "Tonga": "Oceania",
    "Trinidad and Tobago": "North America",
    "Chad": "Africa",
    "Czech Republic": "Europe",
    "Tunisia": "Africa",
    "Turkey": "Asia",
    "Turkmenistan": "Asia",
    "Turks and Caicos Islands": "North America",
    "Uganda": "Africa",
    "Ukraine": "Europe",
    "Hungary": "Europe",
    "Uruguay": "South America",
    "Uzbekistan": "Asia",
    "Vanuatu": "Oceania",
    "Venezuela": "South America",
    "United Arab Emirates": "Asia",
    "United States": "North America",
    "Vietnam": "Asia",
    "Wales": "Europe",
    "Central African Republic": "Africa",
    "Cyprus": "Asia"
}

In [270]:
# Add home_continent and away_continent columns
df_results['home_continent'] = df_results['home_team'].map(continents)
df_results['away_continent'] = df_results['away_team'].map(continents)

In [271]:
df_results["home_continent"] = df_results["home_continent"].fillna("Country not in Fifa Ranking")
df_results["away_continent"] = df_results["away_continent"].fillna("Country not in Fifa Ranking")

In [272]:
# Zeilen zum Wegschmei√üen
no_country_in_fifa_ranking_both = df_results[(df_results["home_continent"] == "Country not in Fifa Ranking") | (df_results["away_continent"] == "Country not in Fifa Ranking")]

df_results = df_results.drop(no_country_in_fifa_ranking_both.index)

In [273]:
df_results["date"] = pd.to_datetime(df_results["date"])
df_em2024 = df_results[(df_results["tournament"] == "UEFA Euro") & (df_results["date"].dt.year == 2024)]
df_results = df_results.drop(df_em2024.index)

In [274]:
df_results["winning_country"] = df_results.apply(lambda x: x["home_team"] if x["home_score"] > x["away_score"] else "Unentschieden" if x["home_score"] == x["away_score"] else x["away_team"], axis=1)

In [275]:
df_results["winning_continent"] = df_results.apply(lambda x: x["home_continent"] if x["home_score"] > x["away_score"] else "Unentschieden" if x["home_score"] == x["away_score"] else x["away_continent"], axis=1)

Analysis

L√§nder

In [276]:
# Calculate win percentages for each team
total_matches_home = df_results['home_team'].value_counts()
total_matches_away = df_results['away_team'].value_counts()

total_matches = total_matches_home.add(total_matches_away)

display(total_matches)

home_wins = df_results[df_results['home_score'] > df_results['away_score']]['home_team'].value_counts()
away_wins = df_results[df_results['away_score'] > df_results['home_score']]['away_team'].value_counts()

total_wins = home_wins.add(away_wins, fill_value=0)
display(total_wins)

# Calculate win percentages
win_percentages = (total_wins / (total_matches_home + total_matches_away) * 100).sort_values(ascending=False)

# Display the top 10 teams with the highest win percentages
top_teams = win_percentages.head(10)
top_teams

Afghanistan       134
Albania           356
Algeria           566
American Samoa     47
Andorra           200
                 ...
Vietnam           268
Wales             662
Yemen             245
Zambia            723
Zimbabwe          454
Name: count, Length: 204, dtype: int64

Afghanistan        35.0
Albania            99.0
Algeria           258.0
American Samoa      3.0
Andorra            12.0
                  ...
Vietnam           113.0
Wales             212.0
Yemen              45.0
Zambia            327.0
Zimbabwe          176.0
Name: count, Length: 203, dtype: float64

Brazil         64.191251
Spain          58.806405
Germany        58.244111
England        57.509881
Iran           57.271095
Argentina      54.921260
Italy          54.020101
Tahiti         53.738318
Croatia        53.168044
South Korea    53.010753
Name: count, dtype: float64

In [277]:
# # Filter matches from 2000 to 2023
# matches_2000_to_2023 = df_results[(df_results['date'] >= '2000-01-01') & (df_results['date'] <= '2023-12-31')]

# # Group by team and calculate overall performance metrics
# team_performance_2000_to_2023 = matches_2000_to_2023.groupby('home_team').agg({
#     'home_score': 'mean',
#     'away_score': 'mean',
#     'tournament': 'count',
#     'neutral': 'sum'
# }).reset_index()

# team_performance_2000_to_2023.columns = ['Team', 'Average_Home_Score', 'Average_Away_Score', 'Matches_Played', 'Neutral_Ground']

# # Calculate overall score by giving more weight to tournament matches
# team_performance_2000_to_2023['Overall_Score'] = team_performance_2000_to_2023['Matches_Played'] + 2 * team_performance_2000_to_2023['Neutral_Ground']

# # Sort teams by overall score in descending order
# best_teams_2000_to_2023 = team_performance_2000_to_2023.sort_values(by='Overall_Score', ascending=False).head(10)

# # Bar Chart for the Best Teams from 2000 to 2023
# fig_best_teams_2000_to_2023 = px.bar(best_teams_2000_to_2023, x='Team', y='Overall_Score',
#                                      title='Best Teams from 2000 to 2023',
#                                      labels={'Team': 'Football Team', 'Overall_Score': 'Overall Score'})
# fig_best_teams_2000_to_2023.show()

In [278]:
df_results.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,home_continent,away_continent,winning_country,winning_continent
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False,Europe,Europe,Unentschieden,Unentschieden
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False,Europe,Europe,England,Europe
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False,Europe,Europe,Scotland,Europe
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False,Europe,Europe,Unentschieden,Unentschieden
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False,Europe,Europe,Scotland,Europe

In [279]:
# Anzahl der Heimspiele und Heimtore pro Land berechnen
home_stats = df_results.groupby('home_team').agg(
    home_goals=('home_score', 'sum'),
    home_games=('home_score', 'count')
).reset_index()
home_stats.columns = ['team', 'home_goals', 'home_games']

# Anzahl der Ausw√§rtsspiele und Ausw√§rtstore pro Land berechnen
away_stats = df_results.groupby('away_team').agg(
    away_goals=('away_score', 'sum'),
    away_games=('away_score', 'count')
).reset_index()
away_stats.columns = ['team', 'away_goals', 'away_games']

# Zusammenf√ºhren der Heim- und Ausw√§rtsstatistiken
total_stats = pd.merge(home_stats, away_stats, on='team', how='outer').fillna(0)

# Berechnung der Gesamtanzahl der Tore und Spiele
total_stats['total_goals'] = total_stats['home_goals'] + total_stats['away_goals']
total_stats['total_games'] = total_stats['home_games'] + total_stats['away_games']

# Berechnung der durchschnittlichen Tore pro Spiel
total_stats['avg_goals_per_game'] = total_stats['total_goals'] / total_stats['total_games']

# Sortieren nach der durchschnittlichen Tore pro Spiel absteigend
total_stats = total_stats.sort_values(by='avg_goals_per_game', ascending=False)

# Rundung der durchschnittlichen Tore pro Spiel auf 2 Nachkommastellen
total_stats['avg_goals_per_game'] = total_stats['avg_goals_per_game'].round(2)

# Das Ergebnis anzeigen
print(total_stats)

              team  home_goals  home_games  away_goals  away_games  \
129  New Caledonia       363.0         131       222.0         107
179         Tahiti       282.0         104       239.0         110
70         Germany      1249.0         496       861.0         438
57         England      1172.0         506      1066.0         506
27          Brazil      1400.0         564       749.0         419
..             ...         ...         ...         ...         ...
72       Gibraltar        25.0          43        10.0          39
106  Liechtenstein        46.0         109        50.0         123
4          Andorra        38.0         101        27.0          99
157     San Marino        19.0         102        12.0          99
53      East Timor         0.0           2         0.0           2

     total_goals  total_games  avg_goals_per_game
129        585.0          238                2.46
179        521.0          214                2.43
70        2110.0          934                2.26
57        2238.0         1012                2.21
27        2149.0          983                2.19
..           ...          ...                 ...
72          35.0           82                0.43
106         96.0          232                0.41
4           65.0          200                0.32
157         31.0          201                0.15
53           0.0            4                0.00

[204 rows x 8 columns]

In [280]:
df_shootouts.head()

         date    home_team         away_team       winner first_shooter
0  1967-08-22        India            Taiwan       Taiwan           NaN
1  1971-11-14  South Korea  Vietnam Republic  South Korea           NaN
2  1972-05-07  South Korea              Iraq         Iraq           NaN
3  1972-05-17     Thailand       South Korea  South Korea           NaN
4  1972-05-19     Thailand          Cambodia     Thailand           NaN

In [281]:
df_shootouts['home_continent'] = df_shootouts['home_team'].map(continents)
df_shootouts['away_continent'] = df_shootouts['away_team'].map(continents)

In [282]:
df_shootouts["home_continent"] = df_shootouts["home_continent"].fillna("Country not in Fifa Ranking")
df_shootouts["away_continent"] = df_shootouts["away_continent"].fillna("Country not in Fifa Ranking")

In [283]:
no_country_in_fifa_ranking_both = df_shootouts[(df_shootouts["home_continent"] == "Country not in Fifa Ranking") | (df_shootouts["away_continent"] == "Country not in Fifa Ranking")]

df_shootouts = df_shootouts.drop(no_country_in_fifa_ranking_both.index)

In [285]:
# Z√§hle die Teilnahmen an Elfmeterschie√üen pro Land (Heim)
home_shootouts = df_shootouts.groupby('home_team').apply(lambda x: (x['home_team'] != x['winner']).sum()).reset_index(name='home_shootouts')

# Z√§hle die Teilnahmen an Elfmeterschie√üen pro Land (Ausw√§rts)
away_shootouts = df_shootouts.groupby('away_team').apply(lambda x: (x['away_team'] != x['winner']).sum()).reset_index(name='away_shootouts')

# Zusammenf√ºhren der Ergebnisse
shootouts_total = pd.merge(home_shootouts, away_shootouts, left_on='home_team', right_on='away_team', how='outer').fillna(0)

# Summieren der Heim- und Ausw√§rtsschie√üereien f√ºr die Gesamtanzahl
shootouts_total['total_shootouts'] = shootouts_total['home_shootouts'] + shootouts_total['away_shootouts']

# Berechnung der Anzahl der gewonnenen Elfmeterschie√üen (Heim)
home_wins = df_shootouts[df_shootouts['home_team'] == df_shootouts['winner']].groupby('home_team').size().reset_index(name='home_wins')

# Berechnung der Anzahl der gewonnenen Elfmeterschie√üen (Ausw√§rts)
away_wins = df_shootouts[df_shootouts['away_team'] == df_shootouts['winner']].groupby('away_team').size().reset_index(name='away_wins')

# Zusammenf√ºhren der Ergebnisse
wins_total = pd.merge(home_wins, away_wins, left_on='home_team', right_on='away_team', how='outer').fillna(0)

# Merge wins_total mit shootouts_total
shootouts_total = pd.merge(shootouts_total, wins_total, left_on='home_team', right_on='home_team', how='outer').fillna(0)

# Summieren der Heim- und Ausw√§rtssiege f√ºr die Gesamtanzahl
shootouts_total['total_wins'] = shootouts_total['home_wins'] + shootouts_total['away_wins']

# Berechnung der Win-Rate
shootouts_total['home_win_rate'] = shootouts_total['home_wins'] / shootouts_total['home_shootouts']
shootouts_total['away_win_rate'] = shootouts_total['away_wins'] / shootouts_total['away_shootouts']
shootouts_total['total_win_rate'] = shootouts_total['total_wins'] / shootouts_total['total_shootouts']

# Nach total_shootouts absteigend sortieren
shootouts_total = shootouts_total.sort_values(by='total_shootouts', ascending=False)

# Tabelle f√ºr Heim-Teilnahmen und Win-Rate
home_table = shootouts_total[['home_team', 'home_shootouts', 'home_wins', 'home_win_rate']].copy()
home_table.columns = ['Team', 'Shootouts (Home)', 'Wins (Home)', 'Win Rate (Home)']

# Tabelle f√ºr Ausw√§rts-Teilnahmen und Win-Rate
away_table = shootouts_total[['home_team', 'away_shootouts', 'away_wins', 'away_win_rate']].copy()
away_table.columns = ['Team', 'Shootouts (Away)', 'Wins (Away)', 'Win Rate (Away)']

# Tabelle f√ºr Gesamt-Teilnahmen und Win-Rate
total_table = shootouts_total[['home_team', 'total_shootouts', 'total_wins', 'total_win_rate']].copy()
total_table.columns = ['Team', 'Total Shootouts', 'Total Wins', 'Total Win Rate']

# Das Ergebnis anzeigen
print("Home Shootouts Table:")
print(home_table)
print("\nAway Shootouts Table:")
print(away_table)
print("\nTotal Shootouts Table:")
print(total_table)
home_table.to_csv('home_shoot', index=False)
away_table.to_csv('away_shoot', index=False)
total_table.to_csv('total_shoot', index=False)

Home Shootouts Table:
             Team  Shootouts (Home)  Wins (Home)  Win Rate (Home)
922  South Africa               9.0          9.0         1.000000
884        Malawi               7.0          1.0         0.142857
946        Zambia               6.0          9.0         1.500000
870          Iran               6.0          7.0         1.166667
887          Mali               3.0          4.0         1.333333
..            ...               ...          ...              ...
630             0               0.0          0.0              NaN
629             0               0.0          0.0              NaN
628             0               0.0          0.0              NaN
627             0               0.0          0.0              NaN
0               0               0.0          0.0              NaN

[948 rows x 4 columns]

Away Shootouts Table:
             Team  Shootouts (Away)  Wins (Away)  Win Rate (Away)
922  South Africa               6.0          4.0         0.666667
884        Malawi               7.0          3.0         0.428571
946        Zambia               5.0          5.0         1.000000
870          Iran               5.0          1.0         0.200000
887          Mali               7.0          3.0         0.428571
..            ...               ...          ...              ...
630             0               0.0          1.0              inf
629             0               0.0          1.0              inf
628             0               0.0          1.0              inf
627             0               0.0          1.0              inf
0               0               0.0          1.0              inf

[948 rows x 4 columns]

Total Shootouts Table:
             Team  Total Shootouts  Total Wins  Total Win Rate
922  South Africa             15.0        13.0        0.866667
884        Malawi             14.0         4.0        0.285714
946        Zambia             11.0        14.0        1.272727
870          Iran             11.0         8.0        0.727273
887          Mali             10.0         7.0        0.700000
..            ...              ...         ...             ...
630             0              0.0         1.0             inf
629             0              0.0         1.0             inf
628             0              0.0         1.0             inf
627             0              0.0         1.0             inf
0               0              0.0         1.0             inf

[948 rows x 4 columns]

C:\Users\CARLO\AppData\Local\Temp\ipykernel_23544\2307430861.py:2: DeprecationWarning:

DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.

C:\Users\CARLO\AppData\Local\Temp\ipykernel_23544\2307430861.py:5: DeprecationWarning:

DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.