In [109]:
import pandas as pd
import plotly.express as px
import numpy as np

In [110]:
df_results = pd.read_csv('files/input/results.csv')
df_shootouts = pd.read_csv('files/input/shootouts.csv')

Data Prep

In [111]:
continents = {
    "Afghanistan": "Asia",
    "Egypt": "Africa",
    "Albania": "Europe",
    "Algeria": "Africa",
    "American Samoa": "Oceania",
    "Andorra": "Europe",
    "Angola": "Africa",
    "Anguilla": "North America",
    "Antigua and Barbuda": "North America",
    "Equatorial Guinea": "Africa",
    "Argentina": "South America",
    "Armenia": "Asia",
    "Aruba": "North America",
    "Azerbaijan": "Asia",
    "Ethiopia": "Africa",
    "Australia": "Oceania",
    "Bahamas": "North America",
    "Bahrain": "Asia",
    "Bangladesh": "Asia",
    "Barbados": "North America",
    "Belarus": "Europe",
    "Belgium": "Europe",
    "Belize": "North America",
    "Benin": "Africa",
    "Bermuda": "North America",
    "Bhutan": "Asia",
    "Bolivia": "South America",
    "Bosnia and Herzegovina": "Europe",
    "Botswana": "Africa",
    "Brazil": "South America",
    "Brunei Darussalam": "Asia",
    "Bulgaria": "Europe",
    "Burkina Faso": "Africa",
    "Burundi": "Africa",
    "Cayman Islands": "North America",
    "Chile": "South America",
    "China": "Asia",
    "Cook Islands": "Oceania",
    "Costa Rica": "North America",
    "Cura√ßao": "North America",
    "Denmark": "Europe",
    "Germany": "Europe",
    "Dominica": "North America",
    "Dominican Republic": "North America",
    "Djibouti": "Africa",
    "Ecuador": "South America",
    "El Salvador": "North America",
    "Ivory Coast": "Africa",
    "England": "Europe",
    "Eritrea": "Africa",
    "Estonia": "Europe",
    "Eswatini": "Africa",
    "Faroe Islands": "Europe",
    "Fiji": "Oceania",
    "Finland": "Europe",
    "France": "Europe",
    "Gabon": "Africa",
    "Gambia": "Africa",
    "Georgia": "Asia",
    "Ghana": "Africa",
    "Gibraltar": "Europe",
    "Grenada": "North America",
    "Greece": "Europe",
    "Guam": "Oceania",
    "Guatemala": "North America",
    "Guyana": "South America",
    "Guinea": "Africa",
    "Guinea-Bissau": "Africa",
    "Haiti": "North America",
    "Honduras": "North America",
    "Hong Kong": "Asia",
    "India": "Asia",
    "Indonesia": "Asia",
    "Iraq": "Asia",
    "Iran": "Asia",
    "Ireland": "Europe",
    "Iceland": "Europe",
    "Israel": "Asia",
    "Italy": "Europe",
    "Jamaica": "North America",
    "Japan": "Asia",
    "Yemen": "Asia",
    "Jordan": "Asia",
    "U.S. Virgin Islands": "North America",
    "British Virgin Islands": "North America",
    "Cambodia": "Asia",
    "Cameroon": "Africa",
    "Canada": "North America",
    "Cape Verde": "Africa",
    "Kazakhstan": "Asia",
    "Qatar": "Asia",
    "Kenya": "Africa",
    "Kyrgyzstan": "Asia",
    "Colombia": "South America",
    "Comoros": "Africa",
    "Kosovo": "Europe",
    "Democratic Republic of the Congo": "Africa",
    "Republic of the Congo": "Africa",
    "North Korea": "Asia",
    "South Korea": "Asia",
    "Croatia": "Europe",
    "Cuba": "North America",
    "Kuwait": "Asia",
    "Laos": "Asia",
    "Lesotho": "Africa",
    "Latvia": "Europe",
    "Lebanon": "Asia",
    "Liberia": "Africa",
    "Libya": "Africa",
    "Liechtenstein": "Europe",
    "Lithuania": "Europe",
    "Luxembourg": "Europe",
    "Macau": "Asia",
    "Madagascar": "Africa",
    "Malawi": "Africa",
    "Malaysia": "Asia",
    "Maldives": "Asia",
    "Mali": "Africa",
    "Malta": "Europe",
    "Morocco": "Africa",
    "Mauritania": "Africa",
    "Mauritius": "Africa",
    "Mexico": "North America",
    "Moldova": "Europe",
    "Mongolia": "Asia",
    "Montenegro": "Europe",
    "Montserrat": "North America",
    "Mozambique": "Africa",
    "Myanmar": "Asia",
    "Namibia": "Africa",
    "Nepal": "Asia",
    "New Caledonia": "Oceania",
    "New Zealand": "Oceania",
    "Nicaragua": "North America",
    "Netherlands": "Europe",
    "Niger": "Africa",
    "Nigeria": "Africa",
    "Northern Ireland": "Europe",
    "North Macedonia": "Europe",
    "Norway": "Europe",
    "Oman": "Asia",
    "Austria": "Europe",
    "East Timor": "Asia",
    "Pakistan": "Asia",
    "Palestine": "Asia",
    "Panama": "North America",
    "Papua New Guinea": "Oceania",
    "Paraguay": "South America",
    "Peru": "South America",
    "Philippines": "Asia",
    "Poland": "Europe",
    "Portugal": "Europe",
    "Puerto Rico": "North America",
    "Rwanda": "Africa",
    "Romania": "Europe",
    "Russia": "Europe",
    "Saint Kitts and Nevis": "North America",
    "Saint Lucia": "North America",
    "Saint Vincent and the Grenadines": "North America",
    "Solomon Islands": "Oceania",
    "Zambia": "Africa",
    "Samoa": "Oceania",
    "San Marino": "Europe",
    "Sao Tome and Principe": "Africa",
    "Saudi Arabia": "Asia",
    "Scotland": "Europe",
    "Sweden": "Europe",
    "Switzerland": "Europe",
    "Senegal": "Africa",
    "Serbia": "Europe",
    "Seychelles": "Africa",
    "Sierra Leone": "Africa",
    "Zimbabwe": "Africa",
    "Singapore": "Asia",
    "Slovakia": "Europe",
    "Slovenia": "Europe",
    "Somalia": "Africa",
    "Spain": "Europe",
    "Sri Lanka": "Asia",
    "South Africa": "Africa",
    "Sudan": "Africa",
    "South Sudan": "Africa",
    "Suriname": "South America",
    "Syria": "Asia",
    "Tajikistan": "Asia",
    "Tahiti": "Oceania",
    "Taiwan": "Asia",
    "Tanzania": "Africa",
    "Thailand": "Asia",
    "Togo": "Africa",
    "Tonga": "Oceania",
    "Trinidad and Tobago": "North America",
    "Chad": "Africa",
    "Czech Republic": "Europe",
    "Tunisia": "Africa",
    "Turkey": "Asia",
    "Turkmenistan": "Asia",
    "Turks and Caicos Islands": "North America",
    "Uganda": "Africa",
    "Ukraine": "Europe",
    "Hungary": "Europe",
    "Uruguay": "South America",
    "Uzbekistan": "Asia",
    "Vanuatu": "Oceania",
    "Venezuela": "South America",
    "United Arab Emirates": "Asia",
    "United States": "North America",
    "Vietnam": "Asia",
    "Wales": "Europe",
    "Central African Republic": "Africa",
    "Cyprus": "Asia"
}

In [112]:
# Add home_continent and away_continent columns
df_results['home_continent'] = df_results['home_team'].map(continents)
df_results['away_continent'] = df_results['away_team'].map(continents)

In [113]:
#Fill na-values
df_results["home_continent"] = df_results["home_continent"].fillna("Country not in Fifa Ranking")
df_results["away_continent"] = df_results["away_continent"].fillna("Country not in Fifa Ranking")

In [114]:
#drop na-values
no_country_in_fifa_ranking_both = df_results[(df_results["home_continent"] == "Country not in Fifa Ranking") | (df_results["away_continent"] == "Country not in Fifa Ranking")]

df_results = df_results.drop(no_country_in_fifa_ranking_both.index)

In [115]:
#transform date column into date-object
df_results["date"] = pd.to_datetime(df_results["date"])
#collect all games for the coming em 2024, because there aren't any results yet
df_em2024 = df_results[(df_results["tournament"] == "UEFA Euro") & (df_results["date"].dt.year == 2024)]
#drop em 2024 games
df_results = df_results.drop(df_em2024.index)

In [116]:
#add the column "winning_country" by comparing the home and away goals, also registering draws
df_results["winning_country"] = df_results.apply(lambda x: x["home_team"] if x["home_score"] > x["away_score"] else "Unentschieden" if x["home_score"] == x["away_score"] else x["away_team"], axis=1)

In [117]:
#add the column "winning_continent" by comparing the home and away goals, also registering draws
df_results["winning_continent"] = df_results.apply(lambda x: x["home_continent"] if x["home_score"] > x["away_score"] else "Unentschieden" if x["home_score"] == x["away_score"] else x["away_continent"], axis=1)

In [118]:
#add the columns home and away continent to the shootouts table
df_shootouts['home_continent'] = df_shootouts['home_team'].map(continents)
df_shootouts['away_continent'] = df_shootouts['away_team'].map(continents)

In [119]:
#fill na-values
df_shootouts["home_continent"] = df_shootouts["home_continent"].fillna("Country not in Fifa Ranking")
df_shootouts["away_continent"] = df_shootouts["away_continent"].fillna("Country not in Fifa Ranking")

In [120]:
#drop na-values
no_country_in_fifa_ranking_both = df_shootouts[(df_shootouts["home_continent"] == "Country not in Fifa Ranking") | (df_shootouts["away_continent"] == "Country not in Fifa Ranking")]

df_shootouts = df_shootouts.drop(no_country_in_fifa_ranking_both.index)

In [121]:
# Erstellen einer Mapping Series f√ºr winner zu winning_continent
winner_to_continent = df_shootouts['winner'].map(continents)

# Hinzuf√ºgen der Spalte winning_continent zum DataFrame
df_shootouts['winning_continent'] = winner_to_continent

In [122]:
df_results_distinct_continent = df_results[df_results['home_continent'] != df_results['away_continent']]

In [123]:
df_shootouts_distinct_continents = df_shootouts[df_shootouts["home_continent"] == df_shootouts["away_continent"]]

Analysis

L√§nder

In [124]:
import pandas as pd

# Count home and away matches for each team
total_matches_home = df_results['home_team'].value_counts()
total_matches_away = df_results['away_team'].value_counts()

# Count total matches by adding home and away matches for each team
total_matches = total_matches_home.add(total_matches_away, fill_value=0).sort_values(ascending=False)

# Count home and away wins for each team
home_wins = df_results[df_results['home_score'] > df_results['away_score']]['home_team'].value_counts()
away_wins = df_results[df_results['away_score'] > df_results['home_score']]['away_team'].value_counts()

# Count total wins by adding home and away wins for each team
total_wins = home_wins.add(away_wins, fill_value=0).sort_values(ascending=False)

# Calculate win percentages for home, away, and total matches
home_win_percentages = (home_wins / total_matches_home * 100).sort_values(ascending=False)
away_win_percentages = (away_wins / total_matches_away * 100).sort_values(ascending=False)
total_win_percentages = (total_wins / total_matches * 100).sort_values(ascending=False)

# Combine the results into a single DataFrame for easier comparison
results = pd.DataFrame({
    'Total Matches': total_matches,
    'Home Matches': total_matches_home,
    'Away Matches': total_matches_away,
    'Total Wins': total_wins,
    'Home Wins': home_wins,
    'Away Wins': away_wins,
    'Total Win %': total_win_percentages,
    'Home Win %': home_win_percentages,
    'Away Win %': away_win_percentages
}).fillna(0).sort_values(by='Total Win %', ascending=False)

# Display the top 10 teams ordered by total win rate
top_teams_by_win_rate = results.head(10)
print("Top Teams by Win Rate:")
display(top_teams_by_win_rate)

# Create a DataFrame for countries with the most matches played, ordered descending by total matches
most_matches_df = results.sort_values(by='Total Matches', ascending=False).reset_index().rename(columns={'index': 'Country'}).head(10)
print("Countries with the Most Matches Played:")
display(most_matches_df[['Country', 'Total Matches']])

Top Teams by Win Rate:

,Total Matches,Home Matches,Away Matches,Total Wins,Home Wins,Away Wins,Total Win %,Home Win %,Away Win %
Brazil,983,564,419,631.0,407.0,224.0,64.191251,72.163121,53.460621
Spain,687,355,332,404.0,244.0,160.0,58.806405,68.732394,48.192771
Germany,934,496,438,544.0,307.0,237.0,58.244111,61.895161,54.109589
England,1012,506,506,582.0,316.0,266.0,57.509881,62.450593,52.569170
Iran,557,317,240,319.0,202.0,117.0,57.271095,63.722397,48.750000
Argentina,1016,573,443,558.0,385.0,173.0,54.921260,67.190227,39.051919
Italy,796,437,359,430.0,278.0,152.0,54.020101,63.615561,42.339833
Tahiti,214,104,110,115.0,63.0,52.0,53.738318,60.576923,47.272727
Croatia,363,178,185,193.0,106.0,87.0,53.168044,59.550562,47.027027
South Korea,930,511,419,493.0,306.0,187.0,53.010753,59.882583,44.630072

Countries with the Most Matches Played:

       Country  Total Matches
0       Sweden           1027
1    Argentina           1016
2      England           1012
3       Brazil            983
4      Germany            934
5       Mexico            932
6  South Korea            930
7      Uruguay            912
8      Hungary            877
9       France            825

In [125]:
# # Filter matches from 2000 to 2023
matches_2000_to_2023 = df_results[(df_results['date'] >= '2000-01-01') & (df_results['date'] <= '2023-12-31')]

# # Group by team and calculate overall performance metrics
team_performance_2000_to_2023 = matches_2000_to_2023.groupby('home_team').agg({
     'home_score': 'mean',
     'away_score': 'mean',
     'tournament': 'count',
     'neutral': 'sum'
 }).reset_index()

team_performance_2000_to_2023.columns = ['Team', 'Average_Home_Score', 'Average_Away_Score', 'Matches_Played', 'Neutral_Ground']

 # Calculate overall score by giving more weight to tournament matches
team_performance_2000_to_2023['Overall_Score'] = team_performance_2000_to_2023['Matches_Played'] + 2 * team_performance_2000_to_2023['Neutral_Ground']

 # Sort teams by overall score in descending order
best_teams_2000_to_2023 = team_performance_2000_to_2023.sort_values(by='Overall_Score', ascending=False).head(10)
# # Bar Chart for the Best Teams from 2000 to 2023
fig_best_teams_2000_to_2023 = px.bar(best_teams_2000_to_2023, x='Team', y='Overall_Score',
                                      title='Best Teams from 2000 to 2023',
                                      labels={'Team': 'Football Team', 'Overall_Score': 'Overall Score'})
fig_best_teams_2000_to_2023.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed

In [ ]:
import pandas as pd

# Number of home games and home goals per country
home_stats = df_results.groupby('home_team').agg(
    home_goals=('home_score', 'sum'),
    home_games=('home_score', 'count')
).reset_index()
home_stats.columns = ['team', 'home_goals', 'home_games']

# Number of away games and away goals per country
away_stats = df_results.groupby('away_team').agg(
    away_goals=('away_score', 'sum'),
    away_games=('away_score', 'count')
).reset_index()
away_stats.columns = ['team', 'away_goals', 'away_games']

# Merging home and away statistics
total_stats = pd.merge(home_stats, away_stats, on='team', how='outer').fillna(0)

# Calculating total goals and games
total_stats['total_goals'] = total_stats['home_goals'] + total_stats['away_goals']
total_stats['total_games'] = total_stats['home_games'] + total_stats['away_games']

# Calculating average goals per game
total_stats['avg_goals_per_game'] = total_stats['total_goals'] / total_stats['total_games']

# Sorting by average goals per game in descending order
total_stats = total_stats.sort_values(by='avg_goals_per_game', ascending=False)

# Rounding the average goals per game to 2 decimal places
total_stats['avg_goals_per_game'] = total_stats['avg_goals_per_game'].round(2)

# Display the top 10 teams by average goals per game
top_avg_goals = total_stats.head(10)
print("Top 10 Teams by Average Goals Per Game:")
display(top_avg_goals)

# Creating a DataFrame for countries with the most goals scored
most_goals_df = total_stats.sort_values(by='total_goals', ascending=False).reset_index(drop=True).head(10)
print("Countries with the Most Goals Scored:")
display(most_goals_df[['team', 'total_goals']])

Top 10 Teams by Average Goals Per Game:

,team,home_goals,home_games,away_goals,away_games,total_goals,total_games,avg_goals_per_game
129,New Caledonia,363.0,131,222.0,107,585.0,238,2.46
179,Tahiti,282.0,104,239.0,110,521.0,214,2.43
70,Germany,1249.0,496,861.0,438,2110.0,934,2.26
57,England,1172.0,506,1066.0,506,2238.0,1012,2.21
27,Brazil,1400.0,564,749.0,419,2149.0,983,2.19
128,Netherlands,1029.0,429,635.0,362,1664.0,791,2.10
11,Australia,720.0,300,382.0,234,1102.0,534,2.06
172,Spain,865.0,355,549.0,332,1414.0,687,2.06
83,Hungary,997.0,434,766.0,443,1763.0,877,2.01
167,Solomon Islands,223.0,88,159.0,103,382.0,191,2.00

Countries with the Most Goals Scored:

          team  total_goals
0      England       2238.0
1       Brazil       2149.0
2      Germany       2110.0
3       Sweden       2044.0
4    Argentina       1933.0
5      Hungary       1763.0
6  Netherlands       1664.0
7  South Korea       1657.0
8       Mexico       1646.0
9       France       1530.0

In [ ]:


# Function to calculate win rates handling zero division
def calculate_win_rate(wins, games):
    if games == 0:
        return 0
    else:
        return wins / games

# Calculate statistics for home games
home_stats = df_shootouts.groupby('home_team').agg(
    home_games=('home_team', 'size'),
    home_wins=('winner', lambda x: (x == df_shootouts.loc[x.index, 'home_team']).sum()),
    home_losses=('winner', lambda x: (x != df_shootouts.loc[x.index, 'home_team']).sum())
).reset_index()
home_stats['home_win_rate'] = home_stats.apply(lambda row: calculate_win_rate(row['home_wins'], row['home_games']), axis=1)
home_stats.rename(columns={'home_team': 'team'}, inplace=True)

# Calculate statistics for away games
away_stats = df_shootouts.groupby('away_team').agg(
    away_games=('away_team', 'size'),
    away_wins=('winner', lambda x: (x == df_shootouts.loc[x.index, 'away_team']).sum()),
    away_losses=('winner', lambda x: (x != df_shootouts.loc[x.index, 'away_team']).sum())
).reset_index()
away_stats['away_win_rate'] = away_stats.apply(lambda row: calculate_win_rate(row['away_wins'], row['away_games']), axis=1)
away_stats.rename(columns={'away_team': 'team'}, inplace=True)

# Merge home and away statistics
total_stats = pd.merge(home_stats, away_stats, on='team', how='outer').fillna(0)

# Calculate total statistics
total_stats['total_games'] = total_stats['home_games'] + total_stats['away_games']
total_stats['total_wins'] = total_stats['home_wins'] + total_stats['away_wins']
total_stats['total_losses'] = total_stats['home_losses'] + total_stats['away_losses']
total_stats['total_win_rate'] = total_stats.apply(lambda row: calculate_win_rate(row['total_wins'], row['total_games']), axis=1)

# Sort by total win rate and total games in descending order
sorted_total_stats = total_stats.sort_values(by=['total_win_rate', 'total_games'], ascending=[False, False]).reset_index(drop=True)
sorted_total_stats = sorted_total_stats.head(10)
# DataFrame sorted by total games in descending order
most_games_stats = total_stats.sort_values(by='total_games', ascending=False).reset_index(drop=True)
most_games_stats = most_games_stats.head(10)
# Display the sorted DataFrame by win rate
print("Sorted by Total Win Rate and Total Games:")
display(sorted_total_stats[['team', 'home_games', 'home_wins', 'home_losses', 'home_win_rate', 
                            'away_games', 'away_wins', 'away_losses', 'away_win_rate', 
                            'total_games', 'total_wins', 'total_losses', 'total_win_rate']])

# Display the DataFrame with the most total games
print("\nCountries with Most Total Games:")
display(most_games_stats[['team', 'total_games']])

Sorted by Total Win Rate and Total Games:

,team,home_games,home_wins,home_losses,home_win_rate,away_games,away_wins,away_losses,away_win_rate,total_games,total_wins,total_losses,total_win_rate
0,Ethiopia,5.0,5.0,0.0,1.0,2.0,2.0,0.0,1.0,7.0,7.0,0.0,1.0
1,Seychelles,2.0,2.0,0.0,1.0,2.0,2.0,0.0,1.0,4.0,4.0,0.0,1.0
2,Bahrain,2.0,2.0,0.0,1.0,1.0,1.0,0.0,1.0,3.0,3.0,0.0,1.0
3,Benin,2.0,2.0,0.0,1.0,1.0,1.0,0.0,1.0,3.0,3.0,0.0,1.0
4,Guatemala,2.0,2.0,0.0,1.0,1.0,1.0,0.0,1.0,3.0,3.0,0.0,1.0
5,Kazakhstan,2.0,2.0,0.0,1.0,1.0,1.0,0.0,1.0,3.0,3.0,0.0,1.0
6,Antigua and Barbuda,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,2.0,2.0,0.0,1.0
7,Belgium,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,2.0,2.0,0.0,1.0
8,Cyprus,2.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,2.0,0.0,1.0
9,Iceland,0.0,0.0,0.0,0.0,2.0,2.0,0.0,1.0,2.0,2.0,0.0,1.0

Countries with Most Total Games:

           team  total_games
0  South Africa         28.0
1        Zambia         25.0
2   South Korea         23.0
3      Thailand         22.0
4         Egypt         21.0
5     Argentina         21.0
6       Senegal         20.0
7          Iran         19.0
8   Ivory Coast         18.0
9        Malawi         18.0

Continents

In [ ]:
#count home and away matches for each continent
total_matches_home = df_results_distinct_continent['home_continent'].value_counts()
total_matches_away = df_results_distinct_continent['away_continent'].value_counts()
#count total matches by adding home and away matches for each continent
total_matches = total_matches_home.add(total_matches_away).sort_values(ascending=False)

# Display the top 10 continents with the most matches
most_matches = total_matches.head(10)

display(most_matches)

#count home and away wins for each continent
home_wins = df_results_distinct_continent[df_results_distinct_continent['home_score'] > df_results_distinct_continent['away_score']]['home_continent'].value_counts()
away_wins = df_results_distinct_continent[df_results_distinct_continent['away_score'] > df_results_distinct_continent['home_score']]['away_continent'].value_counts()
#count total wins by adding home and away wins for each continent
total_wins = home_wins.add(away_wins).sort_values(ascending=False)

# Display the top 10 continents with the most wins
most_wins = total_wins.head(10)

display(most_wins)

# Calculate win percentages for each continent
win_percentages = (total_wins / (total_matches_home + total_matches_away) * 100).sort_values(ascending=False)

# Display the top 10 continents with the highest win percentages
top_continents = win_percentages.head(10)

display(top_continents)

Europe           4707
Asia             4273
South America    2659
North America    2288
Africa           1665
Oceania           730
Name: count, dtype: int64

Europe           2237
South America    1253
Asia             1234
North America     696
Africa            523
Oceania           261
Name: count, dtype: int64

Europe           47.524963
South America    47.122979
Oceania          35.753425
Africa           31.411411
North America    30.419580
Asia             28.879008
Name: count, dtype: float64

In [ ]:
# Anzahl der Heimspiele und Heimtore pro Land berechnen
home_stats = df_results_distinct_continent.groupby('home_continent').agg(
    home_goals=('home_score', 'sum'),
    home_games=('home_score', 'count')
).reset_index()
home_stats.columns = ['continent', 'home_goals', 'home_games']

# Anzahl der Ausw√§rtsspiele und Ausw√§rtstore pro Land berechnen
away_stats = df_results_distinct_continent.groupby('away_continent').agg(
    away_goals=('away_score', 'sum'),
    away_games=('away_score', 'count')
).reset_index()
away_stats.columns = ['continent', 'away_goals', 'away_games']

# Zusammenf√ºhren der Heim- und Ausw√§rtsstatistiken
total_stats = pd.merge(home_stats, away_stats, on='continent', how='outer').fillna(0)

# Berechnung der Gesamtanzahl der Tore und Spiele
total_stats['total_goals'] = total_stats['home_goals'] + total_stats['away_goals']
total_stats['total_games'] = total_stats['home_games'] + total_stats['away_games']

# Berechnung der durchschnittlichen Tore pro Spiel
total_stats['avg_goals_per_game'] = total_stats['total_goals'] / total_stats['total_games']

# Sortieren nach der durchschnittlichen Tore pro Spiel absteigend
total_stats = total_stats.sort_values(by='avg_goals_per_game', ascending=False)

# Rundung der durchschnittlichen Tore pro Spiel auf 2 Nachkommastellen
total_stats['avg_goals_per_game'] = total_stats['avg_goals_per_game'].round(2)

# Das Ergebnis anzeigen
print(total_stats)

       continent  home_goals  home_games  away_goals  away_games  total_goals  \
5  South America      2350.0        1173      1984.0        1486       4334.0
2         Europe      4369.0        2313      3269.0        2394       7638.0
4        Oceania       542.0         340       435.0         390        977.0
0         Africa       953.0         630      1119.0        1035       2072.0
3  North America      1629.0        1225      1066.0        1063       2695.0
1           Asia      3265.0        2480      1703.0        1793       4968.0

   total_games  avg_goals_per_game
5         2659                1.63
2         4707                1.62
4          730                1.34
0         1665                1.24
3         2288                1.18
1         4273                1.16

In [ ]:
# Function to calculate win rates handling zero division
def calculate_win_rate(wins, games):
    if games == 0 | wins == 0:
        return 0
    else:
        return wins / games

# Calculate statistics for home games
home_stats = df_results_distinct_continent.groupby('home_continent').agg(
    home_games=('home_continent', 'size'),
    home_wins=('winning_continent', lambda x: (x == df_results_distinct_continent.loc[x.index, 'home_continent']).sum()),
    home_losses=('winning_continent', lambda x: (x != df_results_distinct_continent.loc[x.index, 'home_continent']).sum())
)
home_stats['home_win_rate'] = home_stats.apply(lambda row: calculate_win_rate(row['home_wins'], row['home_games']), axis=1)

# Calculate statistics for away games
away_stats = df_results_distinct_continent.groupby('away_continent').agg(
    away_games=('away_continent', 'size'),
    away_wins=('winning_continent', lambda x: (x == df_results_distinct_continent.loc[x.index, 'away_continent']).sum()),
    away_losses=('winning_continent', lambda x: (x != df_results_distinct_continent.loc[x.index, 'away_continent']).sum())
)
away_stats['away_win_rate'] = away_stats.apply(lambda row: calculate_win_rate(row['away_wins'], row['away_games']), axis=1)

# Combine home and away statistics to get total statistics
total_stats = pd.concat([
    home_stats.rename(columns={
        'home_games': 'total_games',
        'home_wins': 'total_wins',
        'home_losses': 'total_losses',
        'home_win_rate': 'total_win_rate'
    }),
    away_stats.rename(columns={
        'away_games': 'total_games',
        'away_wins': 'total_wins',
        'away_losses': 'total_losses',
        'away_win_rate': 'total_win_rate'
    })
]).groupby(level=0).sum()

# Sorting each dataframe by win rate in descending order
home_stats = home_stats.astype({'home_win_rate': float}).sort_values(by='home_win_rate', ascending=False).head(10).reset_index()
away_stats = away_stats.astype({'away_win_rate': float}).sort_values(by='away_win_rate', ascending=False).head(10).reset_index()
total_stats = total_stats.astype({'total_win_rate': float}).sort_values(by='total_win_rate', ascending=False).head(10).reset_index()

# Displaying the results in separate tables
print("Home Game Statistics:")
print(home_stats[['home_continent', 'home_games', 'home_wins', 'home_losses', 'home_win_rate']])

print("\nAway Game Statistics:")
print(away_stats[['away_continent', 'away_games', 'away_wins', 'away_losses', 'away_win_rate']])

print("\nTotal Statistics:")
print(total_stats[['total_games', 'total_wins', 'total_losses', 'total_win_rate']])

Home Game Statistics:
  home_continent  home_games  home_wins  home_losses  home_win_rate
0  South America        1173        693          480       0.590793
1         Europe        2313       1285         1028       0.555556
2        Oceania         340        154          186       0.452941
3         Africa         630        274          356       0.434921
4  North America        1225        472          753       0.385306
5           Asia        2480        868         1612       0.350000

Away Game Statistics:
  away_continent  away_games  away_wins  away_losses  away_win_rate
0         Europe        2394        952         1442       0.397661
1  South America        1486        560          926       0.376851
2        Oceania         390        107          283       0.274359
3         Africa        1035        249          786       0.240580
4  North America        1063        224          839       0.210724
5           Asia        1793        366         1427       0.204127

Total Statistics:
   total_games  total_wins  total_losses  total_win_rate
0         2659        1253          1406        0.967643
1         4707        2237          2470        0.953216
2          730         261           469        0.727300
3         1665         523          1142        0.675500
4         2288         696          1592        0.596030
5         4273        1234          3039        0.554127